body {
	font-family:sans-serif;
}


#about {
	display:block;
	background-color:lightblue;
	max-width:228px;
	padding-left:2em;
	padding-right:1em;
	padding-top:13em;
	padding-bottom: 100%;
	position:fixed;
	margin-top: 0;
}

#profileimg {
	max-height:250px;
	max-width:250px;
	margin-left:-15px;
	margin-top:-125px;
}

.main {
	display:inline-block;
	background-color:linen;
	margin-top: 1%;
	float:right;
	padding:0;
}

.toprow {
 margin-right: 8%;
}

.bottomrow{
margin-right: 15%;
}


footer {
	display:inline-block;
	font-size:.7em;
	color:gray;
	clear:both;
	float:bottom;
    top: 99%;
    left:23%;
    background-color:lightgreen;

}

.icon {
	height:80%;
	width: 80%;
	max-width:250px;
	max-height:250px;
	padding:0;

}

#title {
	text-align: center;
	display:inline-block;
	background-color:lavender;
	margin-left:45%;
	padding-left:auto;
	margin-top: 1%;
}

a {
	text-decoration:none;
	font-size:.7em;
}

ul {
	margin:0;
	padding:0;
}

ul li {
	list-style-type:none;
	display:inline;
	padding:1%;
	text-align:center;
}


.nav {
	text-align:center;
	margin:0;
	background-color:pink;
	font-size: 1em;
	width:70%;
	max-width:1024px;
	margin:auto;
	display:inline-block;
	margin-left:25%;
	padding-left:0;
	padding-bottom: .5%;
	max-height: 50px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	max-height:1%;
	}